<p-toast></p-toast>

<app-navbar-administrador></app-navbar-administrador>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar Cliente" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="'Borrar Clientes'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClientes()" [disabled]="!selectedClientes || !selectedClientes.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="clientes" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['name', 'telephone', 'address', 'documentType', 'documentNumber', 'emergencyNumber', 'startDate', 'finishDate', 'medicalHistory',]" [tableStyle]="{'min-width': '75rem'}"
        [(selection)]="selectedClientes" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrado {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="ms-4">Clientes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText #searchInput type="text" (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style="min-width:11rem">
                    Nombre 
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="lastname" style="min-width:11rem">
                    Apellido 
                    <p-columnFilter type="text" field="lastname" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="lastname"></p-sortIcon></th>
                <th pSortableColumn="telephone" style="min-width:11rem">
                    Telefono 
                    <p-columnFilter type="text" field="telephone" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="telephone"></p-sortIcon></th>
                <th pSortableColumn="address" style="min-width:12rem">
                    Correo 
                    <p-columnFilter type="text" field="email" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="documentType" style="min-width:8rem">
                    Tipo de documento 
                    <p-columnFilter type="text" field="documentType" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="documentType"></p-sortIcon></th>
                <th pSortableColumn="documentNumber" style="min-width:10rem">
                    Numero documento 
                    <p-columnFilter type="text" field="documentNumber" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="documentNumber"></p-sortIcon></th>
                <th pSortableColumn="emergencyNumber" style="min-width:10rem">
                    Numero de emergencia 
                    <p-columnFilter type="text" field="emergencyNumber" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="emergencyNumber"></p-sortIcon></th>
                <th pSortableColumn="startDate" style="min-width:10rem">
                    Fecha de inicio 
                    <p-columnFilter type="date" field="startDate" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="startDate"></p-sortIcon></th>
                <th pSortableColumn="finishDate" style="min-width:12rem">
                    Fecha de fin 
                    <p-columnFilter type="date" field="finishDate" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="finishDate"></p-sortIcon></th>
                <th pSortableColumn="medicalHistory" style="min-width:12rem">
                    Estado
                    <p-columnFilter type="text" field="medicalHistory" display="menu" class="ml-auto"></p-columnFilter>
                    <p-sortIcon field="medicalHistory"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td>
                    <img [alt]="cliente.name" src="data:image/png;base64,{{cliente.photo}}" width="50" style="vertical-align: middle" />
                    <span class="image-text">{{cliente.name}}</span>
                </td>
                <td>{{cliente.lastname}}</td>
                <td>{{cliente.telephone}}</td>
                <td>{{cliente.address}}</td>
                <td>{{cliente.documentType}}</td>
                <td>{{cliente.documentNumber}}</td>
                <td>{{cliente.emergencyNumber}}</td>
                <td>{{cliente.startDate}}</td>
                <td>{{cliente.finishDate}}</td>
                <td>
                    <span *ngIf="cliente.missingDays > 0" [class]="'customer-badge status-activo'">Activo - {{cliente.missingDays}}</span>
                    <span *ngIf="cliente.missingDays <= 0" [class]="'customer-badge status-inactivo'">Inactivo</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCliente(cliente)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCliente(cliente)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{clientes ? clientes.length : 0 }} clientes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '900px'}" header="Detalles del cliente" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form id="formCliente" [formGroup]="formCliente" (ngSubmit)="saveCliente(formCliente.value)">
            <div class="row px-2">
                <div class="col-4">
                    <p-image [src]="imgURL" alt="Image" width="250" [preview]="true"></p-image>
                    <input #file accept="image/*" (change)="changephoto(file.files)" class="form-control form-control-sm mt-4" type="file" name="file" id="file"/>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <label for="name" class="col-form-label">Nombre</label>
                            <input pInputText type="text" id="name" formControlName="name">
                            <small class="p-error" *ngIf="formCliente.get('name')?.hasError('required') && formCliente.get('name')?.touched">Nombre es requerido</small>
                        </div>
                        <div class="col">
                            <label for="lastname" class="col-form-label">Apellido</label>
                            <input pInputText type="text" id="lastname" formControlName="lastname">
                            <small class="p-error" *ngIf="formCliente.get('lastname')?.hasError('required') && formCliente.get('lastname')?.touched">Apellido es requerido</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="address" class="col-form-label">Direccion</label>
                            <input pInputText type="email" id="address" formControlName="address">
                            <small class="p-error" *ngIf="formCliente.get('address')?.hasError('required') && formCliente.get('address')?.touched">Direccion es requerida</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="telephone" class="col-form-label">Telefono</label>
                            <p-inputNumber id="telephone" formControlName="telephone"></p-inputNumber>
                            <small class="p-error" *ngIf="formCliente.get('telephone')?.hasError('required') && formCliente.get('telephone')?.touched">Telefono es requerido</small>       
                        </div>
                        <div class="col">
                            <label for="emergencyNumber" class="col-form-label">Telefono de emergencia</label>
                            <p-inputNumber id="emergencyNumber" formControlName="emergencyNumber"></p-inputNumber>
                            <small class="p-error" *ngIf="formCliente.get('emergencyNumber')?.hasError('required') && formCliente.get('emergencyNumber')?.touched">Telefono de emergenia es requerido</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-2">
                <div class="col">
                    <label for="documentType" class="col-form-label">Tipo de documento</label>
                    <input pInputText type="text" id="documentType" formControlName="documentType">
                    <small class="p-error" *ngIf="formCliente.get('documentType')?.hasError('required') && formCliente.get('documentType')?.touched">El tipo de documento es requerido</small>
                </div>
                <div class="col">
                    <label for="documentNumber" class="col-form-label">Numero de documento</label>
                    <p-inputNumber id="telephone" formControlName="documentNumber"></p-inputNumber>
                    <small class="p-error" *ngIf="formCliente.get('documentNumber')?.hasError('required') && formCliente.get('documentNumber')?.touched">El numero de documento es requerido</small>
                </div>
            </div>
            <div class="row px-2">
                <div class="col">
                    <label for="startDate" class="col-form-label">Fecha de inicio</label>    
                    <p-calendar appendTo="body" id="startDate" dateFormat="DD, dd/mm/yy" formControlName="startDate"></p-calendar>
                    <small class="p-error" *ngIf="formCliente.get('startDate')?.hasError('required') && formCliente.get('startDate')?.touched">Fecha de inicio es requerida</small>
                </div>
                <div class="col">
                    <label for="finishDate" class="col-form-label">Fecha de fin</label>
                    <p-calendar appendTo="body" id="finishDate" dateFormat="DD, dd/mm/yy" formControlName="finishDate"></p-calendar>
                    <small class="p-error" *ngIf="formCliente.get('finishDate')?.hasError('required') && formCliente.get('finishDate')?.touched">Fecha de fin es requerida</small>    
                </div>
            </div>
            <div class="row px-4">
                <label for="medicalHistory" class="col-form-label">medicalHistory</label>
                <textarea pInputTextarea id="medicalHistory" formControlName="medicalHistory"></textarea>
            </div>
        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" form="formCliente"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>